<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <h2>Login</h2>
                <h4 style="color: red;" *ngIf = "errorMessage">{{errorMessage}}</h4>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid':username.errors }" />
                        <div *ngIf="(username.dirty || username.touched) && username.errors" class="invalid-feedback">
                            <div *ngIf="(username.dirty || username.touched) && username.errors.required">Username is
                                required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': password.errors }" />
                        <div *ngIf="(password.dirty || password.touched) && password.errors" class="invalid-feedback">
                            <div *ngIf="(password.dirty || password.touched) && password.errors.required">Password is
                                required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Login</button>
                        <button class="btn btn-primary" style="margin-left:10px;" type="reset"
                            (click)="revert()">Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>